@font-face {
    font-family: 'Raleway-SemiBold'; /*a name to be used later*/
    src: url('../fonts/Raleway-SemiBold.ttf'); /*URL to font*/
}

.img_absolute {
    z-index: -1;
}
body {
    width: 100%;
    height: 100%;
    font-family: Raleway-SemiBold;
}

#bg {
    background-color: red;
    width: 50%;
    height: 300px;
    opacity: 80%;
    position: absolute;
    top: 25%;
    left: 25%;
}
#countdown {
    width: 100%;
    height: 100%;
}

#countdown h1,h3 {
    color: white;
    text-align: center;
}

#countdown h3 {
    margin-top: 15%;
}

#winner {
    width: 100%;
    height: 100%;
}

#winner h1 {
    color: white;
    text-align: center;
    min-height: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 450%;
}